:root {
    --black: #525866;
    --gray: #a4a7a9;
    --white: #ffffff;
}

@media (min-width: 600px) {
    #main>div {
        margin: 0px 10vw;
    }
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar-thumb {
    display: none;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 15vh auto auto;
}

#header {
    display: block;
    background-color: var(--black);
    font-size: 50px;
    color: var(--white);
    display: grid;
    align-items: center;
    margin: 0px;

    &>li::marker {
        content: "â— ";
    }
}

#main {
    & > div {
        &:nth-child(3n+1) {
            background-color: var(--gray);
            color: var(--black);
        }
        &:nth-child(3n+2) {
            background-color: var(--white);
            color: var(--gray);
        }
        &:nth-child(3n+3) {
            background-color: var(--black);
            color: var(--white);
        }

        &::first-line {
            font-size: 40px;
            line-height: 1.5;
            padding-left: -10px;
            font-weight: bold;
        }

        padding: 10px;
        font-size: 20px;
        border: 1px solid var(--black);
        border-width: 0px 1px;

        & .code{
            background-color: #282c34;
            color: #abb2bf;
            padding: 15px;
            border-radius: 5px;
            font-family: 'Fira Code', 'Courier New', monospace;
            overflow-x: scroll;
            white-space: pre;
            width: 100%;
            margin-left: auto;
        }

        & img {
            position: relative;
            width: 100%;
            /* border: solid 1px var(--black); */
        }

        & a {
            color: inherit;
            text-decoration: none;
        }
    }
}